<div class="div">
  <button class="login">Login</button>
  <button class="logout">Logout</button>
</div>
<app-profile></app-profile>

<button class="button">Download Resume</button>

<p class="description">Hello! I’m Robert Smith. Senior Web Developer specializing in front end development. Experienced
  with all stages of the development cycle for dynamic web projects. Well-versed in numerous programming languages
  including JavaScript, SQL, and C. Stng background in project management and customer relations.</p>
