@import './list-skills.scss';

:host {
  display: block;

  > .title {
    display: block;
    margin: 50px auto 15px;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
  }

  > .box {
    margin: 10px auto;
    max-width: 930px;
    background-color: #fafafa;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  }
}

@media only screen and (min-width: 768px){
  .title {
    font-size: 34px;
  }
}
