@import './profile-data.scss';
@import './info-header.scss';
@import './data-info.scss';
@import './profile-footer';
@import './info-list.scss';


:host {
  padding: 15px 0 0;
  margin: 0px auto;
  display: block;
  max-width: 930px;
  background-color: #fafafa;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  font-family: "Open Sans", sans-serif;
  color: #3d4451;
}


@media only screen and (min-width: 768px) {
  .profile-data {
    display: flex;
  }

  .data-imgage {
    width: 295px;
    margin-right: 15px;
  }

  .data-info {
    width: 930px;
  }

  .info-header {
    text-align: left;
  }
}
