<div class="profile-data">
  <div class="firstcolumn">
    <img class="data-image" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  </div>
  <div class="secondcolumn">
    <div class="info-header">
      <span class="hello">Hello</span>
      <h1 class="pronoum">I'm <span class="name">Robert Smith</span></h1>
      <h2 class="job">Developer and Startup entrepreneur</h2>
      <hr class="hr">
    </div>
    <ul class="info-list">
      <li class="item">
        <p class="key">Age</p>
        <p class="value">29</p>
      </li>
      <li class="item">
        <p class="key">Adress</p>
        <p class="value">24058, Belgium, Brussels, Liute 27, BE</p>
      </li>
      <li class="item">
        <p class="key">E-mail</p>
        <p class="value">robertsmith@company.com</p>
      </li>
      <li class="item">
        <p class="key">Phone</p>
        <p class="value">+1 256 254 84 56</p>
      </li>
      <li class="item">
        <p class="key">Freelance</p>
        <p class="value">till March 25,2018</p>
      </li>
      <li class="item">
        <div class="key">
          <p class="vacation">Vacation</p>
        </div>
        <p class="value"><img class="calendar" href=""> till March 25,2018</p>
      </li>
    </ul>
  </div>
</div>

<ul class="footer-list">
  <li class="item"><a class="link -twitter" href="https://www.twitter.com/" target="_blank"></a></li>
  <li class="item"><a class="link -facebook" href="https://www.facebook.com/" target="_blank"></a></li>
  <li class="item"><a class="link -dribbble" href="https://www.dribbble.com/" target="_blank"></a></li>
  <li class="item"><a class="link -linkedin" href="https://www.linkedin.com/" target="_blank"></a></li>
  <li class="item"><a class="link -instagram" href="https://www.instagram.com/" target="_blank"></a></li>
  <li class="item"><a class="link -plus" href="https://plus.google.com/discover" target="_blank"></a></li>
</ul>
