@import './contact-info.scss';

:host {
  display: block;
  font-family: "Open Sans", sans-serif;
  color: #3d4451;

  > .title {
    display: block;
    margin: 0 auto;
    padding: 10px;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
  }

  > button {
    color: green;
    cursor: pointer;
  }
}




