@import './contact-info.scss';
@import './footer-list.scss';
@import './input-container.scss';
@import './first-box.scss';
@import './second-box.scss';

:host {
  display: block;

  > .title {
    display: block;
    margin: 10px auto;
    padding: 10px;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
  }

  > button {
    display: block;
    margin: 20px auto;
    padding: 21px 55px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 3px;
    color: #3d4451;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s ease-out;
    cursor: pointer;
  }
}




