/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  padding: 15px;
  min-width: 320px;
  font-family: 'Open Sans', sans-serif;
  background-color: #efefef;
  color: #3d4451;
  min-width: 320px;
  margin: 0px;
}
